.card {
    padding: 1em;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;      
}

.card:hover {
    background: grey;
    cursor: pointer;
}

.card > div {
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 500px;
}

.picture {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.name {
    font-size: 20px;
}

.stock, .price {
    font-size: 15px;
}